name: $(Date:yyyyMMdd)$(Rev:.r)

trigger: # cause a pipeline to run whenever you push an update to the specified branches
  batch: true
  branches:
    include:
      - main

parameters:
- name: Publish
  displayName: Push to public npm feed?
  type: boolean
  default: false

variables:
- name: TeamName
  value: 'Visual Studio Technical Insights'

  Codeql.Enabled: true
  Codeql.TSAEnabled: true
  Codeql.TSAOptionsPath: $(Build.SourcesDirectory)\.config\TSAOptions.json

# The `resources` specify the location and version of the 1ES PT.
resources:
  repositories:
  - repository: MicrobuildTemplate
    type: git
    name: 1ESPipelineTemplates/MicroBuildTemplate
    ref: refs/tags/release

extends:
  # The pipeline extends the 1ES PT which will inject different SDL and compliance tasks.
  # For non-production pipelines, use "Unofficial" as defined below.
  # For productions pipelines, use "Official".
  ${{ if parameters.Publish }}:
    template: /azure-pipelines/MicroBuild.1ES.Official.Publish.yml@MicroBuildTemplate
  ${{ else }}:
    template: /azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
  parameters:
    customBuildTags:
    - Ignore-Tag
    pool:
      name: VSEngSS-MicroBuild2022-1ES
      os: windows  # OS of the image. Allowed values: windows, linux, macOS
    stages:
    
    - stage: BuildAndPublishNpmPackage
      jobs:
      - job: BuildAndPublish
        templateContext:
          mb:
            signing:
              enabled: true
              signType: Test
              zipSources: false
        displayName: Build and publish npm package

        steps:
        - task: NodeTool@0
          inputs:
            versionSpec: '17.x'
          displayName: 'Install Node.js'

        # lock to older version of python. We need diskutils which was removed in Python 3.12
        - task: UsePythonVersion@0
          inputs:
            versionSpec: '3.11'

        - script: |
            npm ci
          displayName: 'Install dependencies'

        - script: |
            npm run build
          displayName: 'Compile npm package'

        # Commenting out until we have tests
        # - script: |
        #     npm run test
        #   displayName: 'Test npm package'
        
        - script: | 
            npm pack --pack-destination "$(Build.ArtifactStagingDirectory)"
          displayName: 'Create npm package' 

        - ${{ if parameters.Publish }}:
          - template: /azure-pipelines/MicroBuild.Publish.yml@MicroBuildTemplate
            parameters: 
              intent: 'PackageDistribution'
              contentType: 'npm'
              contentSource: 'Folder'
              folderLocation: '$(Build.ArtifactStagingDirectory)'
              waitForReleaseCompletion: true
              owners: 'vstelinstr@microsoft.com;'
              approvers: 'vstelinstr@microsoft.com'

        - task: 1ES.PublishPipelineArtifact@1
          inputs:
            targetPath: '$(Build.ArtifactStagingDirectory)'
            artifactName: output

        - task: TSAUpload@2
          displayName: 'TSA upload to Codebase (vscode-deviceid)'
          GdnPublishTsaConfigFile: '$(Build.SourcesDirectory)/.config/TSAOptions.json'
